@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.logoMedia {
    display: none;
}

.searchPlace {
    display: flex;
    align-items: center;
}

.searchImg {
    width: 1.5vw;
}

.searchButton {
    background-color: #ddd;
    height: 2.7vw;
    width: 2.7vw;
    cursor: pointer;
}

.searchTool {
    width: 2.5vw;
}

.inputSearch {
    height: 4vh;
    width: 15vw;
    /* margin: 1vw 0.5vw 1vw 1vw; */
    margin-left: 1vw;
}

.menu {
    background-color: #4D2A63;
    padding: 1vw;
    text-align: center;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #eee;
    text-decoration: none;
}

#control-nav {
    display: none;
}

@media screen and (max-width: 767px) {
    header .control-nav {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #333;
    }
    header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        background-color: #4D2A63;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .logo {
        display: none;
    }
    .container .logoMedia {
        display: block;
        width: 55vw;
        padding-top: 10vw;
    }
    .inputSearch {
        width: 40vw;
        height: 5vh;
        border: 1px solid gray;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .searchImg {
        width: 4vw;
    }
    .searchButton {
        background-color: #ccc;
        width: 10vw;
        height: 5vh;
    }
    .searchTool {
        display: none;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
    }
    .menu li {
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
}

#control-nav:checked~.control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#control-nav:checked~nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}